<app-nav></app-nav>
<!-- Lista productos -->
<div class="grid">
    <app-products></app-products>
</div>

<!-- El app-img va tomar el valor o texto del input -->
<!-- <input type="text" name="" id="" [(ngModel)]="imgParent"> -->
<!-- Event Biding ()="" -->
<!-- <app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent" img="este valor es del padre y lo llama img.component"></app-img>


<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [changeImg]="imgParent"></app-img> -->

<!-- ngDestroy & SetInput -->
<!-- Este boton oculta el app-img si esta en false y si es true lo llama-->
<!-- <button (click)="toggleImg()">Toggle img</button>
<p>{{showImg}}</p> -->

